@media screen and (max-width: 1240px) {
    .container {
        max-width: 90%;
    }
    .about-grid {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .about-grid-item img {
        width: 50%;
    }
}
@media screen and (max-width: 980px) {

    .process-grid,
    .work-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .work-grid-item:nth-child(5) {
        grid-column: 1/2;
    }
}
@media screen and (max-width: 576px) {
    html {
        font-size: 55.5%;
    }

    .about-grid-item img {
        width: 70%;
    }

    .exp-grid {
        grid-template-columns: 1fr;
    }

    .work-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .work-grid-item {
        height: auto;
    }

    #tm {
        background-image: none;
        background-color: #f7f7f7;
    }

    .tm-grid,
    .ct-grid,
    .process-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .testimonial {
        display: block;
    }
}